
.contact-container{
    padding:30px;
    margin-top:40px;
    background-color: white;
    border:5pt solid grey;
    border-radius: 5px;
}

.head-contact{
    font-family: 'Bree Serif', serif;
}

.lbl-contact{
    margin-top:10px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}

.inp-name, .inp-email{
    width: 300px;
    text-indent: 3px;
    font-family: 'Vollkorn', serif;
}

.inp-phone{
    font-family: 'Vollkorn', serif;
    text-indent: 3px;
    text-align:center;
    width: 25%;
}

.inp-message{
    width:90%;
    height:100px;
    text-indent: 3px;
    font-family: 'Vollkorn', serif;
}

@media only screen and (max-width: 640px)  {
  
    .inp-phone{
      width:70%
    }
    
    .inp-name{
        margin-top:3px;
    }
  
    #contact-form{
        padding:10px;
    }
  }
  
  @media only screen and (max-width: 768px)  {
    
    .inp-phone{
        width:70%
      }  
  
  }
  
  @media only screen and (max-width: 1100px)  {
    
    .inp-phone{
        width:70%
      } 
  
  }